body {
    padding: 0;
    text-align: center;
    background-color: #FFECD2 ;
}

/*Has the pages id of the game*/
#game-intro {
    padding: 20px 0px;
}

#game-container {
    display: flex;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
}

#game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(160deg, #38EF7D 0%, #11998E 100%);
}

#game-rules {
    margin: 0 auto;
    height: 100vh;
    width: 750px;
    background-color: #F0FFF0;
}


.game-intro h1 {
    font-size: 18px;
    font-family: "Verdana";
}

/*All buttons size a form*/
body button {
    font-size: 30px;
    background: linear-gradient(160deg, #4E65FF  0%, #92EFFD  100%);
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*Styles the borders and size of the cards*/
#card {
    display: inline-block;
    border : 5px solid #000;
    border-radius: 10px;
    height : 150px;
    width : 100px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(160deg, #92EFFD 0%, #4E65FF 100%);
}

/* Styles the points board and where the cards are stored */
#points {
    background: linear-gradient(160deg,#BFF098 0%, #6FD6FF 100%);
    border-radius: 8px;
    font-size: 25px;
    width: 200px;
    padding: 20px;
    margin-right: 75%;
}

#card-zone{
    background: linear-gradient(160deg, #6FD6FF 0%, #BFF098 100%);
    border-radius: 8px;
    font-size: 15px;
    width: 320px;
    height: 345px;
    padding: 20px;
    margin-right: 75%;
}

/*Puts together the deck and pile*/
#flex-container {
    display: flex;
    width: 320px;
    margin-right: 20% ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*styles the valueCard, deck, pile as a stack */
#valueCard,
#deck,
#pile {
    margin-top: 20px;
    position: relative;
    width: 100px;
    height: 150px;
}

#valueCard img,
#deck img,
#pile img  {
    position: absolute;
    width: 100px;
    min-height: 150px;
    border: 1px solid #000;
    text-align: center;
    line-height: 150px;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
}

#valueCard div:nth-child(n+2),
#deck div:nth-child(n+2),
#pile div:nth-child(n+2) {
    top: -10px;
    left: 5px;
    z-index: -1;
}

/*Cleans the ordered list*/
#game-rules div {
    text-align: left;
    margin: auto;
    width: 25%;
    padding: 10px;
}

/*Hands display*/
#board {
    text-align: center;
    position: relative;
}

#cards-chosen {
    position: absolute;
    margin-left: 60%;
    margin-top: 30%;
}

#logo {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
